.container {
    border: 2px solid black;
    height: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}

.header {
    height: calc(30%);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    overflow: auto;
    /* margin: auto; */
}

#cricket {
    font-size: 60px;
    font-family: cursive;
}

#world {
    font-size: 50px;
    font-weight: bolder;
    text-align: center;

}

.body {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.left {
    border: 2px solid black;
    width: calc(34%);
    height: 100%;
    padding-bottom: 10px;
    margin: 17px;
    font-size: calc(95%);
    text-align: center;
    overflow: auto;
}

.left2 {
    border: 2px solid black;
    width: calc(51%);
    margin: auto;
    margin-top: calc(9%);
    padding: calc(3%);
    text-align: center;
    overflow: auto;
}
.para{
    font-weight: bold;
    font-size: 18px;
}


.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: aqua; */
    width:calc(47%);
    align-items: center;

}

.right_up {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: calc(20%);
    margin-top: 20px;
    width: calc(100%);
    /* background-color: blue; */
    flex-wrap: wrap;
    overflow: auto;

}

#in {
    WIDTH: calc(19%);
    height: calc(55%);
    margin: 10px;
}

#btn {
    background-color: lightgreen;
    WIDTH: calc(35%);
    height: calc(60%);
    margin: 10px 2px;
    font-weight: bold;
}
#btn:hover{
    background-color: darkgreen;
    color: antiquewhite;

}

#play {
    width: calc(19%);
    height: calc(58%);
    margin: 10px;

}


.right_down {
    height: calc(100%);
    width: calc(90%);
    /* background-color: gray; */
    margin: 5px;

}
.center{
    overflow: auto;
}

.cell {
    background-color: white;
    height: 25px;
    width: 25px;
    border: 1px solid black;
    text-align: center;

}

.table {
    /* border: 2px solid black; */
    height: inherit;
    width: inherit;
}
.popupDiv{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    font-family: cursive;    
    padding: auto;
    position: absolute;
    display: block;
    opacity: 0.8;
    height: auto;
    width: 63%;
    z-index: 101;
    margin: 25%;
    top: 0;
    left: 0;
    border-radius: 20px;
}
